<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All films</title>
</head>
<body>
<h1 style="color: darkmagenta; font-family: Georgia,serif">Films</h1>
<div style="background: aquamarine; width: 400px; height: 200px; padding-left: 150px">
    <h2 style="color: darkblue; font-family: Georgia,serif">Create new film</h2>
    <form style="margin-top: 20px; line-height: 30px" th:method="post" th:object="${film}" th:action="@{/film}">
        <label style="color: darkblue; font-family: Candara,sans-serif">
            Name
            <input style="font-family: Candara,sans-serif" th:field="*{name}" required>
        </label>
        <br/>
        <label style="color: darkblue; font-family: Candara,sans-serif">
            Genre
            <select style="font-family: Candara,sans-serif" th:field="*{genre}" required>
                <option style="font-family: Candara,sans-serif" th:value="comedy" th:text="comedy"></option>
                <option style="font-family: Candara,sans-serif" th:value="horror" th:text="horror"></option>
                <option style="font-family: Candara,sans-serif" th:value="drama" th:text="drama"></option>
            </select>>
        </label>
        <br/>
        <label style="color: darkblue; font-family: Candara,sans-serif">
            Country
            <input style="font-family: Candara,sans-serif" th:field="*{country}">
        </label>
        <br/>
        <button type="submit">Save</button>
    </form>
</div>

<table style="margin: 50px">
    <thead>
    <tr>
        <td style="color: darkmagenta" width="300px">Name</td>
        <td style="color: darkmagenta" width="300px">Genre</td>
        <td style="color: darkmagenta" width="300px">Country</td>
        <td></td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="film: ${films}">
        <td bgcolor=#fffff0 th:utext="${film.name}"></td>
        <td bgcolor=#fffff0 th:text="${film.genre}"></td>
        <td bgcolor=#fffff0 th:text="${film.country}"></td>
        <td>
            <form th:action="@{/film/{id}(id=${film.id})}" th:method="get">
                <button type="submit"> update </button>
            </form>
        </td>
        <td>
            <form th:action="@{/film/{id}(id=${film.id})}" th:method="delete">
                <button type="submit"> delete </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>