<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update timetable</title>
</head>
<body>
<h2 style="color: darkblue; font-family: Georgia,serif">Update seance</h2>
<form style="margin-top: 20px; line-height: 30px" th:method="put" th:object="${timetable}" th:action="@{/timetable/{id}(id=${timetable.id})}">
    <label style="color: darkblue; font-family: Candara,sans-serif">
        Film
        <select style="font-family: Candara,sans-serif" th:field="*{film.id}" required>
            <option style="font-family: Candara,sans-serif" th:each="f: ${films}" th:value="${f.id}" th:text="${f.name}"></option>
        </select>
    </label>
    <br/>
    <label style="color: darkblue; font-family: Candara,sans-serif">
        Hall
        <select style="font-family: Candara,sans-serif" th:field="*{hall}" required>
            <option style="font-family: Candara,sans-serif" th:value=1 th:text="1"></option>
            <option style="font-family: Candara,sans-serif" th:value=2 th:text="2"></option>
            <option style="font-family: Candara,sans-serif" th:value=3 th:text="3"></option>
        </select>>
    </label>
    <br/>
    <label style="color: darkblue; font-family: Candara,sans-serif">
        Datetime
        <input style="font-family: 'Times New Roman',sans-serif" th:field="*{date}" required>
    </label>
    <br/>
    <button type="submit">Save</button>
</form>
</body>
</html>