<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update film</title>
</head>
<body>
<h2 style="color: olive; font-family: Georgia,serif">Update film</h2>
<form th:method="put" th:object="${film}" th:action="@{/film/{id}(id=${film.id})}">
  <label style="color: olive; font-family: Candara,sans-serif">
    Name
    <input style="font-family: Candara,sans-serif" th:field="*{name}" required>
  </label>
  <br/>
  <label style="color: olive; font-family: Candara,sans-serif">
    Genre
    <select style="font-family: Candara,sans-serif" th:field="*{genre}" required>
      <option style="font-family: Candara,sans-serif" th:value="comedy" th:text="comedy"></option>
      <option style="font-family: Candara,sans-serif" th:value="horror" th:text="horror"></option>
      <option style="font-family: Candara,sans-serif" th:value="drama" th:text="drama"></option>
    </select>>
  </label>
  <br/>
  <label style="color: olive; font-family: Candara,sans-serif">
    Country
    <input style="font-family: Candara,sans-serif" th:field="*{country}">
  </label>
  <br/>
  <button type="submit">Save</button>
</form>
</body>
</html>